torch
torchvision
transformers
accelerate
bitsandbytes
sentencepiece
safetensors
tiktoken
detoxify
scikit-learn
numpy
sentence_transformers
protobuf
peft
trl
datasets
nltk
vllm
matplotlib
seaborn
hdbscan
umap-learn
pandas